<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.breezevideouser.mapper.S3Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.breeze.breezevideouser.domain.S3">
        <result column="bucket_name" property="bucketName" />
        <result column="object_name" property="objectName" />
        <result column="movie_id" property="movieId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bucket_name, object_name, movie_id
    </sql>

</mapper>
